<html>
  <head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <div class='container'>
    <div class="center jumbotron">
      <h1>Caesar Cipher Encryption</h1>
      <h2>The caesar cipher is a simple code wherein letters and numbers are shifted by a number of characters known to both parties. Create your own caesar cipher encrypted message using the form below!</h2>
    </div>

      <form method="POST" action="/">
        <div class="form-group">
          <label for="plain_text">Message</label>
          <textarea type='text' class="form-control" id='plain_text' name='plain_text'
                    placeholder='Enter the text to encrypt here'><%= plain_text %></textarea>
        </div>
        <div class="form-group">
          <label for="shift_by">Number</label>
          <input type='number' class="form-control" id='shift_by' min='1' max='25'  value ='5' name='shift_by' />
        </div>
        <input type='submit' value='Encrypt' class='form-control btn btn-success'/>
      </form>
      <textarea class="form-control"
                placeholder='Your encrypted text will appear here'><%= code_output %></textarea>
    </div>
  </body>
</html>
